<ion-content fullscreen>
  <img src="../../../assets/img/cadastro2.png" alt="cadastros">
  <h2 class="ion-text-center">Cadastros</h2>
  <ion-grid>
    <ion-row>
      <ion-card (click)="navegar('medidas')" class="card">
        <div class="ion-text-start ion-padding ion-text-wrap">
          <ion-icon style="font-size: 30px;" name="beaker"></ion-icon>
          <p class="text-truncate" style="font-size: 13px; font-weight: bold;">Medidas</p>
        </div>
      </ion-card>
      <ion-card (click)="navegar('categorias')" class="card">
        <div class="ion-text-start ion-padding ion-text-wrap">
          <ion-icon style="font-size: 30px;" name="pricetag"></ion-icon>
          <p class="text-truncate" style="font-size: 13px; font-weight: bold;">Categorias</p>
        </div>
      </ion-card>
      <ion-card (click)="navegar('departamentos')" class="card">
        <div class="ion-text-start ion-padding ion-text-wrap">
          <ion-icon style="font-size: 30px;" name="contract"></ion-icon>
          <p class="text-truncate" style="font-size: 13px; font-weight: bold;">Departamentos</p>
        </div>
      </ion-card>
    </ion-row>
    <ion-row style="margin-top: 5px">
      <ion-card (click)="navegar('cargos')" class="card">
        <div class="ion-text-start ion-padding ion-text-wrap">
          <ion-icon style="font-size: 30px;" name="clipboard"></ion-icon>
          <p class="text-truncate" style="font-size: 13px; font-weight: bold;">Cargos</p>
        </div>
      </ion-card>
      <ion-card (click)="navegar('grades')" class="card">
        <div class="ion-text-start ion-padding ion-text-wrap">
          <ion-icon style="font-size: 30px;" name="git-compare"></ion-icon>
          <p class="text-truncate" style="font-size: 13px; font-weight: bold;">Grades</p>
        </div>
      </ion-card>
      <ion-card (click)="navegar('formas-pagamento')" class="card">
        <div class="ion-text-start ion-padding ion-text-wrap">
          <ion-icon style="font-size: 30px;" name="cash"></ion-icon>
          <p class="text-truncate" style="font-size: 13px; font-weight: bold;">Formas de Pagamento</p>
        </div>
      </ion-card>
    </ion-row>

    <ion-row style="margin-top: 5px">
      <ion-card (click)="navegar('clientes')" class="card">
        <div class="ion-text-start ion-padding ion-text-wrap">
          <ion-icon style="font-size: 30px;" name="contacts"></ion-icon>
          <p class="text-truncate" style="font-size: 13px; font-weight: bold;">Clientes</p>
        </div>
      </ion-card>
      <ion-card class="card">
        <div class="ion-text-start ion-padding ion-text-wrap">
          <ion-icon style="font-size: 30px;" name="logo-dropbox"></ion-icon>
          <p class="text-truncate" style="font-size: 13px; font-weight: bold;">Fornecedores</p>
        </div>
      </ion-card>
      <ion-card class="card">
        <div class="ion-text-start ion-padding ion-text-wrap">
          <ion-icon style="font-size: 30px;" name="person-add"></ion-icon>
          <p class="text-truncate" style="font-size: 13px; font-weight: bold;">Funcionários</p>
        </div>
      </ion-card>
    </ion-row>
    <ion-row style="margin-top: 5px">
      <ion-card class="card">
        <div class="ion-text-start ion-padding ion-text-wrap">
          <ion-icon style="font-size: 30px;" name="barcode"></ion-icon>
          <p class="text-truncate" style="font-size: 13px; font-weight: bold;">Produtos</p>
        </div>
      </ion-card>
      <ion-card class="card">
        <div class="ion-text-start ion-padding ion-text-wrap">
          <ion-icon style="font-size: 30px;" name="cube"></ion-icon>
          <p class="text-truncate" style="font-size: 13px; font-weight: bold;">Combos</p>
        </div>
      </ion-card>
      <ion-card class="card">
        <div class="ion-text-start ion-padding ion-text-wrap">
          <ion-icon style="font-size: 30px;" name="ribbon"></ion-icon>
          <p class="text-truncate" style="font-size: 13px; font-weight: bold;">Promoções</p>
        </div>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>