.avatar {
    height: 120px;
    width: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.option {
    width: 100%;
    height: auto;
    background-color: #FFF;
}

.head {
    background-color: rgb(243, 241, 241);
    padding: 20px;
}