<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Departamentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../../assets/img/departamentos.png" alt="departamentos">

  <ion-searchbar placeholder="Pesquisar" (ionInput)="filter($event)"></ion-searchbar>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item-sliding *ngFor="let item of itens">

            <ion-item>
              <ion-label>
                <h2>{{ item.nome }}</h2>
                <h3>{{ item.desc }}</h3>
              </ion-label>
              <ion-button color="success" fill="clear" slot="end">
                <ion-icon name="medical"></ion-icon>
              </ion-button>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option (click)="unread(item)">Editar</ion-item-option>
              <ion-item-option color="danger" (click)="share(item)">Excluir</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="add()" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>