<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Variações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img style="height:250px" src="../../../assets/img/variacoes.png" alt="grades">

  <ion-grid>
    <ion-row>
      <ion-col>
        <h2 class="ion-text-center">{{ nome }}</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-chip *ngFor="let item of itens">
          <ion-label>{{item.nome}}</ion-label>
          <ion-icon (click)="excluir(item)" name="close-circle"></ion-icon>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="add()" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>