<ion-content>
  <div class="border-login">
    <ion-buttons style="float:right" slot="secondary">
      <ion-menu-button class="menu-btn" autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none" style="padding-top: 30px">
      <ion-avatar class="avt" slot="start">
        <img src="https://image.flaticon.com/icons/svg/149/149071.svg">
      </ion-avatar>
      <ion-label>
        <h3 class="snow bold font-25">Olá, Matheus</h3>
        <p class="snow">matheusssoares04@gmail.com</p>
      </ion-label>
    </ion-item>
  </div>

  <ion-card class="card-border-round">
    <img src="../../../assets/img/dashboard.png" />
    <ion-card-header>
      <ion-card-subtitle>Seja bem-vindo(a)</ion-card-subtitle>
      <ion-card-title>MG Store</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Nós vamos ajudar você a gerenciar seu empreendimento, veja nosso tutorial ou entre em contato conosco caso tenha
      dúvidas.
    </ion-card-content>
    <ion-item>
      <ion-button fill="outline">Ver Tutorial</ion-button>
    </ion-item>
  </ion-card>


  <ion-card class="card-border-round">
    <img src="../../../assets/img/dashboard.png" />
    <ion-card-header>
      <ion-card-subtitle>Seja bem-vindo(a)</ion-card-subtitle>
      <ion-card-title>MG Store</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Nós vamos ajudar você a gerenciar seu empreendimento, veja nosso tutorial ou entre em contato conosco caso tenha
      dúvidas.
    </ion-card-content>
    <ion-item>
      <ion-button fill="outline">Ver Tutorial</ion-button>
    </ion-item>
  </ion-card>
</ion-content>
